.adminPanel {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-transform: uppercase;
  /* color: #fff; */
}

.adminPanel h3 {
  color: #fff;
  padding-bottom: 4px;
  border-bottom: 1px solid #fff;
}

.icon {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  color: #fff;
}

.adminPanel a {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  text-decoration: none;
  color: #fff !important;
  background-color: transparent;
  transition: transform 0.3s;
}

.adminPanel a:hover {
  transform: translateX(0.6rem);
  border-left: 3px solid #fff;
  padding-left: 0.2rem;
}
