.updateUserPassword {
  margin: 0 auto;
  width: 80%;
  background-color: #fff;
  padding: 5rem 7rem;
  border-radius: 5px;
}

.updateUserPassword h2 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  margin-bottom: 3.5rem;
  display: inline-block;
}

.updateUserPassword label {
  display: block;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: #777;
}

.updateUserPassword input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: #28b487;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-bottom: 2.5rem;
  border: 2px solid #f2f2f2;
}

.updateUserPassword input:focus {
  border-bottom: 2px solid #28b487;
}

.updateUserPassword input:hover {
  border-bottom: 2px solid #28b487;
}

.label {
  position: relative;
}

.error {
  font-family: inherit;
  font-size: 1.4rem;
  color: #e83a3a;
  position: absolute;
  right: 0;
  bottom: 2%;
}

.btnUpdate {
  margin-left: 66%;
  min-width: 20.826rem;
  min-height: 4.08rem;
}
