.bookItem {
  font-size: 1.6rem;
  background-image: linear-gradient(
    rgba(125, 213, 111, 0.85),
    rgba(40, 180, 135, 0.85)
  );
  padding: 3rem;
  border-radius: 4px;
  box-shadow: 0 1rem 0.8rem rgb(0 0 0 / 13%);
}

.date {
  display: flex;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
}
